#config
.vscode/
config.xml
.Rproj.user

#data
*.csv
*.gz
*.pdf
downloads/
dump/

#logs
*.txt


__pycache__/

#analysis
analysis/
!analysis/*.rmd
!analysis/*.html
!analysis/data
analysis/data/*
!analysis/data/subreddits.csv