#config
.vscode/
config.xml
.Rproj.user

#data
*.csv
*.gz
*.pdf
downloads/
dump/

#logs
*.txt

#Folder
analysis/
__pycache__/

#overwrite ignore
!analysis/*.rmd
!analysis/*.html
!analysis/data/subreddits.csv